html, body{
  height: 100%;
}
#sidebar {
  height: 100%;
  min-height: 100vh;
  min-width: 180px;
}
img {

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 7s; /* don't forget to set a duration! */
}



